* {
	box-sizing: border-box;
	margin: 0;
	scroll-behavior: smooth;
}

:root {
    --orange: #F7A100;
}

body {
  line-height: 1.5;  
}

main {
  margin-left: 5%;
  margin-right: 5%;
}
/*************************************************************************************
header 
**************************************************************************************/


header {
    background-color: var(--orange);
    height: 3.75em;
    padding: 1rem;
    display: flex;
}

.menu-button{
  display: block;
}

img {
  height: 3.75em;
  width: auto;
  display: block;
}

hr {
    color: grey;
    margin: auto;
}

.menu-button {
  max-width: 1em;
}

.svg-menu {
  height: 3rem;

}

.menu-button p{
  color: white;
}

/*************************************************************************************
Picture 
**************************************************************************************/

div.carrousel {
  display: flex;
  flex-direction: row;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

.car-picture {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  scroll-snap-align: center;
 }
 
 .car-img {
   width: 100%;
   height: auto;
   aspect-ratio: 16 / 9;
   object-fit: cover;
  }
  
  /*************************************************************************************
  Intro
  **************************************************************************************/

 
  .intro h1{
    font-size: xx-large;
  }

  .intro p, a {
    font-size: large;
  }

  .container-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .icons {
    display: flex;
    flex-direction: column;
  }

  .icon-containers{
    display: flex;
    flex-direction: row;
  }

  .contact-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  margin-bottom: 1rem;
 }

 .call {
  width: 43%;
  border: none;
  color: white;
  background-color: var(--orange);
  height: 2rem;
 }

 .email {
  width: 43%;
  border: solid var(--orange) 2px;
  height: 2rem;
  color: var(--orange);
  background-color: white;
 }

 section ~ section {
  margin: 1rem 0;
}

/*************************************************************************************
Activity 
**************************************************************************************/

div.activity {
  margin-top: 1rem;
  display: flex;
}
.act-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.saved{
  border-left: solid gray 1px;
  border-right: solid gray 1px;
}
/*************************************************************************************
Descritption 
**************************************************************************************/

.description p{
  font-size: larger;
}

.more-description{
  color: white;
  background-color: var(--orange); 
  border: none;
  padding: 5px;
  border-radius: 5px;
  /* position: absolute; */
}

.more-description.expanded {
  visibility: hidden;
}

.less {
  visibility: hidden;
  /* position: relative;
  top: 0;
  right: 0; */
}

.less.expanded {
  visibility: visible;
}


.more-info-description{
display: none;
}

.more-info-description.fold-out {
  display: block;
}

/*************************************************************************************
Characteristics 
**************************************************************************************/
.characteristics dd, dt {
  font-size: larger;
}

.title{
  font-weight: bold;
}

 hr ~ .title {
  margin-top: 1.5rem;
}

/*************************************************************************************
Neighborhood
**************************************************************************************/

.neighborhood ul {
  border: solid gray 1px;
  box-shadow:  5px 5px 21px 0px rgba(115,110,115,0.5);;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
}

.neighborhood li {
list-style-type: none;
width: 100%;
padding-left: 10%;
}
.neighborhood hr {
  width: 90%;
}

.neighborhood li:first-child {
  display: flex;
  margin: .5rem;
  border-bottom: solid gray 1px;
}

.neighborhood p {
  margin: 0 1rem;
}

.neighborhood img {
  margin: .5rem 0;
  border-radius: .25rem;
}

/*************************************************************************************
realator
**************************************************************************************/

.realator {
  border: solid 1px gray;
}

.realator a:first-child {
  font-size: xx-large;
}

.realator a, p {
  font-size: larger;
  text-decoration: none;
}

.call-info {
  display: flex;
}

.realator svg {
  margin: 1rem;
}


/*************************************************************************************
Footer
**************************************************************************************/

footer {
  background-color: #EDEDED;
  width: 100vw;
  font-size: larger;
  
}

footer li {
  list-style-type: none;
  display: none;
}

footer a {
  text-decoration: none;
}

.footer-icon-container {
  display: flex;
}